.grid-container {
	background-image: url('https://st2.depositphotos.com/1021369/5986/v/450/depositphotos_59860273-stock-illustration-animals-seamless-pattern.jpg');
}

.muse1 {
	background-image: url(https://i.pinimg.com/originals/52/b5/9b/52b59b3ef8b5ec16ad71d13896af74d9.jpg);
	height: 60vw;
	width: auto;
	background-size: cover;
	margin-top: -9vw;
}

.muse2 {
	background-color: lightgrey;
	font-family: 'Handlee', cursive;
	font-size: 1.5vw;
}